/* Hide the scrollbar */
::-webkit-scrollbar {
    width: 0;
  }
  
  /* Hide the scrollbar track */
  ::-webkit-scrollbar-track {
    height: 0;
  }
  
  /* Hide the scrollbar thumb */
  ::-webkit-scrollbar-thumb {
    height: 0;
  }


  img{
    max-width: 100%;
  }

.ModalContainerParent{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    height:95%;
    border:none;
    box-shadow: 24;
    padding: 12px;
/* From https://css.glass */
background: rgba(2, 14, 59, 0.51);
border-radius: 16px;
border-top-right-radius: 0px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(14px);
-webkit-backdrop-filter: blur(14px);
overflow-y: auto;
overflow-x: hidden;

  }

  .crossButtonContainer{
    cursor: pointer;
    width: 30px;
    height: 30px;
    color: #fff;
    background-color: red;
    /* border-radius: 50%; */
    position: absolute;
    top:0px;
    right: 0px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .crossButton{
    cursor: pointer;
    background-color: red;
    border: none;
    color: #fff;
    font-size: large;
  }

  .projectImagesContainerParent{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap:10px;
    row-gap: 4em;
    height: 80%;
    width: 100%;

    margin-top: 1em;
    
  }

  .projectImagesContainerChild{
    /* border: 1px solid white; */
    width: 48%;
    height: auto;
    border-radius: 5px;
  }

  .descriptionContainer{
    width: 85%;
    margin: auto;
  }


  .nextPageButtonContainer{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin-top: 50px;
  }



  @media (max-width: 913px) {
    .projectImagesContainerChild{
        /* border: 1px solid white; */
        width: 100%;
        height: auto;
      }
  }
    @media (max-width: 821px) {
        .projectImagesContainerChild{
            /* border: 1px solid white; */
            width: 100%;
            height: auto;
          }

          .projectImagesContainerParent{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;
            gap:10px;
            row-gap: 2em;
            height: 80%;
            width: 100%;
        
            margin-top: 1em;
            
          }

          .descriptionContainer{
            width: 100%;
            margin: auto;
          }


    }
     @media (max-width: 542px) {
        .projectImagesContainerChild{
            /* border: 1px solid white; */
            width: 100%;
            height: auto;
          }

          .ModalContainerParent{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 90%;
            height:95%;
            border:none;
            box-shadow: 24;
            padding: 12px;
        /* From https://css.glass */
        background: rgba(2, 14, 59, 0.51);
        border-radius: 16px;
        border-top-right-radius: 0px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(14px);
        -webkit-backdrop-filter: blur(14px);
        
          }
     }